/* footer */
footer {
    background-color: grey;
}

footer > .social-media > img {
    list-style: none;
    float: right;
    background-color: aqua;
}

footer > .social-media > p {
    float: left;
    background-color: aqua;
}
footer >  ul > li > a {
    float: right;
    transition: all 0.45s ease-in-out 0s;
}

footer > ul > li > a:hover {
    opacity: 0.50;
}

footer > ul > li.licence {
    text-align: center;
}
