@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


/* main */

main > div.main-image{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

main > div.sub-image{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

main > div.sub-image > ul > li {
    display: inline-block;
    list-style: none;
}

main > p {
    text-align: center;
    padding: 15px;
    font-size: 22px;
}


